@model HelloWorld.Models.GuestResponse
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    body {
        background-color: #f1f1f1;
    }
</style>

<div class="text-center">
    <h1>Thank you, @Model.Name at @Model.Email</h1>
    @if (Model.WillAttend == true)
    {
        @:Thanks for coming!
}
    else
    {
        @:Sorry you can't make it.
}
</div>
@*@{ // Overrides layout options--no layout.
    Layout = null;
}*@

@*<!DOCTYPE html>

<h1>Thank you, @Model.Name at @Model.Email</h1>
@if (Model.WillAttend == true)
{
    @:Thanks for coming!
}
else
{
    @:Sorry you can't make it.
}*@
